[MASTER]
init-hook='import sys; sys.path.append("src")'


ignore=tests,
        app.py,

disable= W0105,
        W0612,R0903

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring

[FORMAT]
max-line-length=120

[REFACTORING]

[DESIGN]